/* General app styling */

.App {
  text-align: center;
  background-color: #383232;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 150px;
  margin-bottom: 20px;
}

.App-header {
  background-color: #3b362d;
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px; /* Adjusted width for a centered form look */
}

/* Login/Signup Form */
input[type="email"],
input[type="password"] {
  display: block;
  width: 300px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #000000;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #21a1f1;
}

/* Error Message */
.error {
  color: red;
  margin-bottom: 10px;
}

/* Dashboard */
.dashboard {
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.account-info,
.transactions,
.actions {
  margin-bottom: 20px;
}

.account-info h3,
.transactions h3 {
  color: #61dafb;
}

.transactions ul {
  list-style-type: none;
  padding: 0;
}

.transactions li {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.actions button {
  padding: 10px;
  margin: 5px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #21a1f1;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 2rem;
  color: white;
  margin-left: 5px; 
  font-family: 'Roboto', sans-serif;
}