/* General app styling */
.App {
  text-align: center;
  background-color: #383232;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 150px;
  margin-bottom: 20px;
}

.App-header {
  background-color: #3b362d;
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjusted width to extend horizontally */
  max-width: 1200px; /* Limit the maximum width */
  margin: 0 auto;
}

/* Dashboard Styling */
.dashboard {
  text-align: center;
  padding: 40px;
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button grid for dashboard */
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  grid-gap: 30px; /* Spacing between buttons */
  margin-top: 20px;
}

/* Buttons in the dashboard */
.dashboard-btn {
  background-color: green;
  color: white;
  padding: 30px 40px; /* Increased button size */
  font-size: 18px; /* Increased font size */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%; /* Make button take full width of its grid cell */
  height: 100px; /* Set consistent height */
  text-align: center;
}

.dashboard-btn:hover {
  background-color: darkgreen;
}

/* Log Out button */
.logout-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.logout-btn:hover {
  background-color: darkred;
}

/* Logo Container */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 2rem;
  color: white;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
}

/* Page Styling */
.page {
  text-align: center;
  padding: 40px;
}

.home-btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.home-btn:hover {
  background-color: darkblue;
}
